.AddTabForm {
    padding: 4rem 8rem 8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 7px 27px -1px rgba(138,138,138,1);
    .AddTabForm__Header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1.8rem;
        }
    }
    .AddTabForm__SubmitButton {
        width: 24rem;
        height: 4rem;
        margin-top: 1rem;
    }
}