@import './styles/variables.scss';
button {
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 1.6rem;
}
button:disabled {
    color:#ccc;
    cursor: not-allowed;
}
@media #{$tablet}, #{$mobile} {
  .DesktopOnly {
    display: none;
  }
}