@import '../../../../styles/variables.scss';
.Navbar {
    height: 5.6rem;
    @media #{$mobile}, #{$tablet} {
        height: 6.5rem;
    }
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $navbar-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: $navbarZ;
    nav {
        height: 100%;
    }
}