.AddTabContainer {
    padding-top: 20rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    h1 {
        font-size: 3.4rem;
        margin-bottom: 1rem;
        letter-spacing: 1.2px;
    }
}